<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ISAIAI AIRPORT</title>
	<!--<link rel="stylesheet" href="nice.css">-->
	<style>
	body {
		font-family: Arial, sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		background: #6affea;
	}
	
	.title {
		text-align: center;
	}

	.content {
		text-align: center;
	}

	.buttons {
		margin-top: 20px;
	}

	.button {
		margin: 0 10px;
		padding: 10px 20px;
		font-size: 16px;
		cursor: pointer;
	}

	.button {
		background-color: #fd6c9e;
		color: 	white;
	}
	</style>
</head>
<body>
	<div class="container">
		<header class="title">
			<h1>
				<!--<img src="update_config/ribbon.png" alt="Icon" class="icon">-->
				ISAIAI AIRPORT</h1>
		</header>
		<main class="content">
			<h2>WEIGHT!</h2>
			<form method="post">
				<div class="buttons">
					<button class="button sort" type="submit" name="sorting", value="next">SORT ITEM</button>
				</div>
			</form>
		</main>

</body>
</html>
